<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/nav.ejs') %>
    <header>
      <div>
        <img src="/img/post.png" alt="blog post" />
      </div>
      <div>
        <h2>Blog Posts</h2>
        <h3>By Anyone For Everyone</h3>
        <a href="/blogs" class="btn">View Posts</a>
      </div>
    </header>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
